*.sln
*.csproj
*.speccache
bin/
obj/
.vs/Protobuild.Manager.Windows/v14/.suo
/Protobuild.Manager.Linux.userprefs
.vs/
Protobuild.Manager/Protobuild.Manager.Windows.csproj.user
*.userprefs
Installers/Windows/ProtobuildWebInstall.exe
Windows.tar.lzma
