@font-face
{
    font-family: 'Source Sans Pro';
    src: url(/fonts/SourceSansPro-Regular.ttf);
    font-weight: normal;
}

@font-face
{
    font-family: 'Source Sans Pro';
    src: url(/fonts/SourceSansPro-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: 'Source Sans Pro';
    src: url(/fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

html, body
{
    width: 720px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    
    background-repeat: no-repeat;
    
    background: #eaf4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaf4ff 0%, #ffffff 29%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eaf4ff 0%,#ffffff 29%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eaf4ff 0%,#ffffff 29%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf4ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#container
{
    margin: 0px;
    width: 678px;
    height: 398px;
    padding-left: 20px;
    box-sizing: content-box;
    border: 1px solid #CCC;
    padding-right: 20px;
}

div#toplinks {
    position: absolute;
    top: 24px;
    right: 21px;
    color: white;
}

div#toplinks a {
    margin-left: 10px;
}

ul.recent {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: white;
    /* width: 680px; */
    border: 1px solid #EFEEFE;
    border-radius: 3px;
    height: 300px;
    overflow-y: scroll;
    margin-top: 18px;
}

ul.recent li.norecent {
    /* display: block; */
    /* height: 40px; */
}

ul.recent li.recent > a {
    display: block;
    height: 40px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.recent span.title {
    font-size: 110%;
    color: #000;
    position: absolute;
    left: 15px;
    top: 0px;
}

ul.recent span.path {
    font-size: 80%;
    color: #666;
    position: absolute;
    left: 15px;
    top: 22px;
}

div#header {
    margin-left: 1px;
}

ul.recent li.norecent span {
    /* margin: auto; */
    display: block;
    /* width: 444px; */
    text-align: center;
    line-height: 298px;
}

span {}

#status {
    max-height: 40px;
    overflow-y: auto;
}

div.checkbox {
    float: left;
    margin-right: 10px;
}

form.form-horizontal {
    overflow-y: auto;
    max-height: 278px;
    overflow-x: hidden;
}